# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Virtualenv
.venv/
venv/
ENV/
env/

# Python local env
.Python

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest cache
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# SQLite DB (if you don't want to push DB)
*.db
*.sqlite3

# logs
*.log

# node (if any)
node_modules/
